

h1{
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #000000;
}

h6{
    font-size: 0.7rem;
    margin: 0;
}

.inputSelect{
    display: flex;
    justify-content: space-between;
    padding: 2px 25px;
    padding-top: 10px;
    position: static;
}

input{ 
    border : 1px solid #5e7885;
    background-color: #607D8B;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
}

input:focus{
    background-color: #78909C;
    border: none;
    outline: none;
}


input::placeholder{
    color: lightgray;
}

select{
    padding: 6px;
    border : 1px solid #5e7885;
    border-radius: 5px;
    color: lightgray;
    font-size: 14px;
    background-color: #607D8B;
}


.countriesList{
    margin: 20px;
    width: 550px;
    background-color: #526974;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color : white;
    text-align: center; 
    letter-spacing: 2px;  
    height: 600px;
    /* width: 100%; */
    flex-grow: 1;
   
}

.countryData{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    text-align: left;
    padding-bottom: 8px;
    margin: 0px 20px;
    border-bottom: 1px solid lightgray;
}

h3{
    margin-bottom: 8px;
    cursor: pointer;
}

.names > h6 > span:first-child{
    color: #08ffff;
    text-shadow: 2px 2px 4px rgb(2, 48, 83);
}

.names > h6 > span:last-child{
    color:  #fd9b9b;
    text-shadow: 2px 2px 4px #f44336;
}

.codes{
    text-align: right;
    align-self: flex-end;
}


.codes > h6:last-child{
    margin-top: 10px;
    color: #08ff10;
    text-shadow:2px 2px #1B5E20;  
}

.countryBox{
    margin-top: 30px;
    height: 450px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* width */
.countryBox::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.countryBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
   
  /* Handle */
.countryBox::-webkit-scrollbar-thumb {
    background: #03a9f4; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
.countryBox::-webkit-scrollbar-thumb:hover {
    background: #0395da; 
  }
