

.piechart{
    width: 500px;
    margin: 0px auto;
    background-color: #526974;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color : white;
    text-align: center; 
    letter-spacing: 2px;
}
  
.piechart > h1{
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.8rem;
}

@media screen and (max-width: 600px){
    .piechart{
        width: 100%;
        padding: 0px;
    }
    #chartdiv1{
        height: 300px !important;
    }
}