@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Playfair+Display&display=swap');


.box{
    width: 350px;
    height: 200px;
    border-radius: 25px;
    display: block;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.3px;
    color: white;
    text-shadow: 2px 2px 4px #000000; 
    margin: 10px;   
}

.box > h3{
    padding-left: 20px;
    text-shadow: none;
}

.box > h1{
    text-align: right;
    padding : 5px 15px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.box > p{
    text-align: right;
    padding-right: 20px;
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 3px;
    text-shadow: none;
}

.line{
    width: 330px;
    margin: 5px 15px;
    height: 4px;
}

.blue{
    background-color: #03a9f4;
    box-shadow: 2px 2px 10px #01579B, -2px 2px 10px #01579B;
}

.blueline{
    background-color: #007ac1;
}

.red{
    background-color: #f44336;
    box-shadow: 2px 2px 10px #ba000d, -2px -2px 10px #ba000d;
}

.redline{
    background-color: #ba000d;
}

.green{
    background-color: #4caf50;
    box-shadow:2px 2px 10px #1B5E20, -2px -2px 10px #1B5E20;
}

.greenline{
    background-color : #087f23;
}