
.error{
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 40px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #455a64, -2px -2px 4px #455a64;
}

.error > img{
    width: 500px;
    height: 500px;
}

.error > h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}